<!DOCTYPE html>
<html>
<head>
  <title>MessageApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<nav class="navbar navbar-default navbar-fixed-top">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <div class="navbar-brand">
	      	<%= link_to "MessageApp", home_path %>
	      </div>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse">
	      <ul class="nav navbar-nav navbar-right">
	        <% if current_user %>
				    <li><%= link_to current_user.first_name, home_path %></li>
				    <li><%= link_to "Log out", log_out_path %></li>
				  <% else %>
				    <li><%= link_to "Sign Up", sign_up_path %></li>
				    <li><%= link_to "Log In", log_in_path %></li>
				  <% end %>
	      </ul>
	    </div><!-- /.navbar-collapse -->
	  </div>
	</nav>
	<div class="container">
		<div class="row">
	    <div class="col-xs-12">
	      <% flash.each do |name, msg| %>
				  <%= content_tag :div, msg, :id => "flash_#{name}" %>
				<% end %>
	      <%= yield %>
	    </div>
	  </div>
  </div>

</body>
</html>
